
#main{display: flex;}
#main2{display: flex;
    

}

#sidebar>h4{color: gray;
cursor: pointer;}

 #sidebar,#dummy{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px;
width: 20%;
}

#whole_div{width: 80%;
}


  #append,#t_head{
  
font-family: Arial, Helvetica, sans-serif;

}

.filter{display: flex;
justify-content: space-between;

height: 40px;}


.select>span{float: right;}

#filt_div{text-align: left;
cursor: pointer;}
#filt_div>div{text-align: center;
 border: 1px solid black; 
width: 60%;
margin: auto;


}

#filt_div>div:hover{background-color: black;
color: aliceblue;
cursor: pointer;}

.point{text-align: left;
color: black;}

.point:hover{text-decoration: underline;
cursor: pointer;}




.list{border-bottom: 1px solid rgb(240, 230, 230);
text-align: left;
padding-left: 5px;

}

.list li{display: none;
float: none;}

.list:hover>li{display: block;
  line-height: 0px;
  color: gray; 
  border-bottom: 1px solid gray;
 cursor: pointer;
}

#bottom_sb{text-align: left;}
#bottom_sb>p{color: gray;
font-size: small;
cursor: pointer;}


#bottom_sb>p:hover{text-decoration: underline;
color: black;}


#append{display: grid;
grid-template-columns:repeat(4,1fr) ;}

#append>div{border: 1px solid rgb(219, 218, 218);
text-align: center;}


  #but_div{display: flex;
gap: 20px;
/* border: 1px solid black; */
width: 15%;
margin: auto;
margin-top: 30px;
margin-bottom: 10px;}

#but_div>button{text-align: center;
  border: 0px;
 
  font-weight: bold;
  background-color: white;
  cursor: pointer;
}

#but_div>button:hover{border-bottom: 1px solid red;}

#search_bar{cursor: pointer;}


