* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.hero {
    height: 100%;
    width: 100%;
    background-image: 
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSed2EOUc9WdCbR7EMcE-nK0_gdjPuG9M5yfg&usqp=CAU);
    background-position: center;
    background-size: cover;
    position: absolute;
    background-size: 100%;
    display: flex;
    justify-content: space-between;
}

#text{
    /* border: 1px solid black; */
    margin-top: 7em;
    padding-left: 20px;
    
}
#text>h2{
 margin-top: 1em;
    color:gray;
}
.team{
    color: goldenrod;
    font-family: Copperplate, Papyrus, fantasy;
}
/* .hero>img{
    width: 20%;
} */

.form-box {
    width: 380px;
    /* height: 80vh; */
    position: relative;
    margin: 4% auto;
    /* margin-left: 40em; */
    background-color: transparent;
    padding: 5px;
    overflow: hidden;
    border-radius: 1em;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}

.button-box {
    width: 230px;
    margin: 35px auto;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 30px;
}

.toggle-btn {
    padding: 10px 27px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    color: white;
    position: relative;
}

#btn {
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: black;
    border-radius: 30px;
    transition: .5s;
}

.icon {
    margin: 26.5em auto;
    text-align: center;
}

.icon>img {
    width: 30px;
    margin: 0 0.01em;
    box-shadow: 0 0 20px 0 #7f7f7f3d;
    cursor: pointer;
}

.input-group {
    top: 120px;
    position: absolute;
    width: 280px;
    transition: .5s;
}

.input-field {
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-bottom: 1.5px solid rgb(104, 172, 221);
    border-top: 0;
    border-right: 0;
    border-left: 0;
    outline: none;
    background: transparent;
}

.submit-btn {
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: black;
    color: white;
    border: 0;
    outline: none;
    border-radius: 30px;

}

.check-box {
    margin: 30px 10px 30px 0;
}

span {
    color: #777;
    font-size: 12px;
    bottom: 68px;
    position: absolute;
}

#login {
    left: 50px;
}

#register {
    left: 450px;
}
#chickbox{
    color: white;
    
}

::placeholder { 
    color: white;
    opacity: 1; 
  }


  @media all and (min-width:481px) and (max-width: 768px) {
  
}

@media all and (min-width:320px) and (max-width:480px) {
   
}

.notes{
    color: red;
    font-size: 0.7em;
}
@media all and (min-width:481px) and (max-width: 768px) {
    #text>img{
        width: 90%;
        margin-left: 1em;
    }
.hero {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}
  
}

@media all and (min-width:320px) and (max-width:480px) {
    #text>img{
        width: 60%;
        margin-left: 1em;
    }
.hero {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}
   
} 