body{
    background: rgb(33, 31, 31);
}
.orderSuccess{
    border:2px solid green;
    border-radius: 15px;
    margin: auto;
    margin-top: 1%;
    width: 90%;
    height: 200px;
    background: white;
}
.orderSuccess>h1{
    font-size: 80px;
    margin-left: 35%;
    margin-top: -8%;
}
.circle{
    width:80px;
    height:80px;
    border:8px solid green;
    border-radius: 50%;
    position: relative;
    left:23%;
    top:35%;
}
.slant_left{
    width:8px;
    height:50px;
    background: green;
    margin-left: 24.5%;
    margin-top: 0%;
    border-radius: 5px;
}
.slant_right{
    width:8px;
    height:150px;
    background: green;
    margin-top:-10%;
    margin-left: 28.5%;
    transform: rotate(45deg);
}
.msg{
    border-radius: 15px;
    margin: auto;
    margin-top: 1%;
    width: 90%;
    height: 300px;
    background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTGUXZCisnY97-vIE3tjy3347Mqbx6u0nxTWA&usqp=CAU");
    background-size: cover;
}
.white_text{
    margin-top: 1%;
    color:white;
    font-size: 40px;
    text-align: center;
    padding-top: 1%;
}
