*{
    margin: 0px;
    padding: 0px;
}
.menu > ul > img {
    width: 150px;
    margin-right: 30px;
}
body{  
    background-color:white;
}
    #navbar ul>li {
        display: inline-block;
        margin: auto;
    }
    a{
        text-decoration: none;
        color:black;
    }
    #navbar>img{
        width:10%;
    }
    
    .menu ul li{
        width:100px;
        margin: 1px;
        padding:5px;
    }
    .hoverSub{
        display: flex;
        z-index: 1;
    }

    .sub-menu1,.sub-menu2{
        display: none;
        z-index: 1;
    }
    .menu ul li:hover{
        background:#FFFFFF;
    }
    .menu ul li:hover .sub-menu1 {
        display:block;
        position:absolute;
    }
    .menu ul li:hover .sub-menu1 ul {
        display: block;
        margin: 5px;
        z-index: 1;
    }
    .menu ul li:hover .sub-menu1 ul li{
        width: 125px;
        padding:5px;
        border-bottom: 1px dotted black;
        background: #FFFFFF;
        /* background:transparent; */
        border-radius: 5px;
        text-align: left;
    }
    .menu ul li:hover .sub-menu1 ul li:last-child{
        border-bottom: none;
    }
    .hoverSub:hover .sub-menu2{
    display: block;
    position: absolute;
    }
    .hoverSub:hover .sub-menu2{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        background:white;
        z-index: 1;
    }
    .hoverSub:hover .sub-menu2>.flexSub>ul{
        display:grid;
    }
    .hoverSub:hover .sub-menu2>.flexSub{
       padding:2%;
    }